@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.header {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    font-family: EF_jejudoldam;
    color: burlywood;
    font-size: 50px;
}

.labeltext{
   display: flex;
    justify-content: center;
    font-family: EF_jejudoldam;
    font-size: 25px;
}

.startButton {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 30px;

}
.start {
    background-color: wheat;
    border-color: wheat;
    width: 30%;
    height: 50px;
}
.body{
    background-color: lightgoldenrodyellow;
}
.map {
    display: flex;
    justify-content: center;
    font-family: EF_jejudoldam;
}
.input{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 45%;


}
.all{
    display: flex;
    flex-direction: column;
    margin: 250px;
}
.headerBeer{
    color: burlywood;
    font-family: EF_jejudoldam;
}
.beer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.beerButton {
    width: 500px;
    padding: 15px;
    margin: 5px;
    background-color: lightyellow;
    border-color: darkkhaki;
    font-size: 15px;
    border-radius: 50px;
    color: darkslategray;
    font-family: EF_jejudoldam;
}
.flex{
    margin-top: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.buttons{
    background-color: peachpuff;
    border-color: peachpuff;

}
.result {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.resultButton {
    background-color: peachpuff;
    height: 50px;
    width: 30%;
}

@media (max-width: 800px) {
    .media {
        width: 412px;
        height: 925px;
    }
}
.my-element {


    animation: bounce; /* referring directly to the animation's @keyframe declaration */

}